:root {
  --main-bg: #cd1956;
  --main-clr: #fff;
  --nav-bg: #000;
  --overlay-bg: rgba(0, 0, 0, 0.3);
  --ft-size: 1em;
  --max-width: 65rem;
  --main-padding: 1.25rem 4vw;
  --button-size: 3rem;
  --header-height: 4.125rem;
  --sidebar-width: calc(100vw - 60vw);
  --close-btn-position: 2rem;
  --animation-duration: 0.3s;
  --timing-function: ease-in-out;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: var(--main-bg);
  color: var(--main-clr);
  font-size: var(--ft-size);
}

section {
  padding: 1rem 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--button-size);
  height: var(--button-size);
  transform: translate(-50%, -50%);
}

a {
  color: var(--main-clr);
  text-decoration: none;
}

button:hover,
.logo:hover,
a:hover,
a:focus {
  opacity: 0.7;
}

.flex {
  display: flex;
}

.main,
.wrapper {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

.main {
  min-height: 100vh;
}

.introSection {
  margin-top: var(--header-height);
}

/* Header */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  height: var(--header-height);
  background: var(--nav-bg);
  padding: var(--main-padding);
}

.headerBox {
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
}

.openMenuBtn {
  padding: 0;

  > span {
    width: 1.8rem;
    height: 0.25rem;
    background-color: var(--main-clr);
    display: block;
  }

  > span:not(:last-child) {
    margin-bottom: 0.4rem;
  }
}

/* Sidebar */

.overlay,
.sidebar {
  position: fixed;
  height: 100vh;
  top: 0;
}

.overlay {
  width: 100vw;
  display: none;
  background: var(--overlay-bg);
  z-index: 10;
}

.overlay.showOverlay {
  display: block;
}

.sidebar {
  right: 0;
  width: var(--sidebar-width);
  border-radius: 5px 0 0 5px;
  transform: translateX(100%);
  transition: transform var(--animation-duration) var(--timing-function);
  z-index: 20;
}

.sidebar.openMenu {
  transform: translateX(0);
}

.sidebar {
  background: var(--nav-bg);
}

.closeMenuBtn {
  position: absolute;
  top: var(--close-btn-position);
  right: var(--close-btn-position);
  color: var(--main-clr);
  font-size: 26px;
  font-weight: bold;
}

.navBox {
  margin: 6rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.navLink {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

/* Footer */

.footer {
  padding: var(--main-padding);
  background: var(--nav-bg);
}

.footerBox {
  justify-content: center;

  > .copyright {
    margin: 0;
  }
}

/* Media Queries */

@media (max-width: 75rem) {
  section {
    padding: 1rem 4vw;
  }
}
@media (max-width: 34.375rem) {
  .sidebar {
    width: 100%;
  }
}
